project:
  type: website

website:
  title: "C S-M"
  navbar:
    background: secondary
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: full_cv.qmd
        text: CV
format:
  html:
    theme:
        light: simplex
        dark: solar
    css: styles.css
    toc: true
    include-in-header:
      text: |
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Source+Serif+Pro:wght@400;600;700&display=swap" rel="stylesheet">
  

execute:
  freeze: auto
