/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* all formats */

.content {
  max-width: 850px;
}

dl {
  dt { 
    font-weight: 600; 
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
  
  dd { 
    margin-left: 0; 
    margin-bottom: 0.25rem;
    &:first-of-type {
      margin-bottom: 0.4rem;
    }
  }
  
.cvdate {
    color: #666;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

h1.title {
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1rem;
  margin-top: 1.5rem;
  border-bottom: 1.5px solid #333;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #333;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  font-weight: 400;
  color: #666;
  font-size: 0.9rem;
}

ul li {
  margin-bottom: 0.6rem;
  line-height: 1.4;
}

ul.publications li {
  padding-left: 2em;
  text-indent: -2em;
}


.cvdate {
  float: right;
  font-style: italic;
  font-family: var(--font-sans);
  color: #666;
  font-size: 0.85rem;
  font-weight: 400;

}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/

@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      text-align: right;
  }
  .content {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 11pt;
    line-height: 1.3;
  }

  html {
    font-family: 'Crimson Text';
  }

  h1, h2, h3 {
    font-family: var(--font-sans);
  }

  header {
    margin-block-end: 5em;
  }
  header h1.title {
      display: none;
  }
  header .author {
    font-size: 1em;
    font-weight: 800;
    color: black;
    text-align: right;
    margin-block-end: 0em;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  
  h1 {
    font-size: 20pt;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 13pt;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
    page-break-after: avoid;
    color: black;
    break-before: avoid;
    break-after: avoid;
  }

  h3 {
    font-size: 11pt;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    page-break-after: avoid;
    color: black;
    break-before: avoid;
    break-after: avoid;
  }
  
  .experience-item, .education-item {
    break-inside: avoid;
  }

  .content {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .back-to-top, nav, .navbar {
    display: none !important;
  }

  a {
    color: #000 !important;
    text-decoration: none !important;
  }


  h4 {
    font-size: 0.8em;
    font-weight: 600;
    color: black;
  }

  p, li {
    orphans: 3;
    widows: 3;
  }

  ul li {
    margin-bottom: 0.4rem;
    line-height: 1.25;
  }

  a {
    font-size: smaller;
    text-decoration: none;
    font-weight: 600;
    color: #36a7e9;
  }
  
  dl {
    dt {
      margin-top: 0.6rem;
      margin-bottom: 0.1rem;
      page-break-after: avoid;
    }
    
    dd {
      margin-bottom: 0.15rem;
      page-break-before: avoid;
      
      &:first-of-type {
        margin-bottom: 0.2rem;
      }
    }
  }
  
  .cvdate {
    display: inline-block;
    white-space: nowrap;
    font-size: 10pt;
  }

  dl dt, 
  dl dt + dd,
  dl dt + dd + dd {
    page-break-inside: avoid;
    page-break-after: auto;
  }


}